html, body {
    height: 100%;
    overflow: auto;
}

body {
    background-color:#c7c7c7;
    background-image:url(../imgs/bg.jpg);
    background-repeat:repeat-x;
}

#silverlightControlHost {
    padding: 25px 0px 25px 0px;
    text-align:center;
}

